extends layout

block content
  .container
    .page-header
      h3 Submit a bid
    if flash.info
      .row
        .span12
          div.alert.alert-success
            = flash.info
            button.close.fui-cross(data-dismisss='alert')
    .row
      .span6
        h5
          = name
        small
          = description
        p
          |  Sample photo
        if images.length > 0
          img(src=images[0], width='150', height='150')
        p
          |  Deadline:
          if endDate
            = moment(endDate).startOf('day').fromNow(true)
          else
            span.label.label-important
              |  ASAP
        p
          |  Budget:
          if budget
            = budget
            |  $
          else
            | N/A

      .span6
        h5 Submit your photo
        form(action='/campaign/#{_id}/bid',method='post',enctype='multipart/form-data')
          input(type='file',name='pictures[]')
          p
            |  Price:
          input(type='text',name='price',placeholder='0.00$')
          p
          button.btn.btn-success(type='submit') Submit your bid
            i.fui-arrow-right.pull-right

