extends layout

block content
  .container
    .row
      .span8.offset2
        h2 create a campaign
          form(action='/campaign/add',method='post')
            label Campaign Name
            input(type='text',name='campaignname', id='campaignname', style="campaignname",placeholder='Campaign Name')
            label Description
            textarea(type='text',name='description',placeholder='Description', size='100')
            label Sample Photos
            input(type='file',name='files[]',placeholder='File')
            label End Date
            input(type='text',name='end_date',placeholder='End Date')
            p
            button.btn.btn-primary(name='create_campaign')
             | Create a campaign
            p
