extends layout

block content
  h2 create a campaign
  input(type='text',name='name',placeholder='Name')
  p
  textarea(type='text',name='description',placeholder='Description')
  p
  input(type='file',name='files[]',placeholder='File')
  p
  input(type='text',name='end_date',placeholder='End Date')
  p
  input(type='submit',name='create_campaign',placeholder='Create a campaign')
  p
