extends layout

block content
  .container
    .row
      .span8.offset2
        h2 create a campaign
          form(action='/campaign/add',method='post')
            input(type='text',name='name',placeholder='Name')
            p
            textarea(type='text',name='description',placeholder='Description')
            p
            input(type='file',name='files[]',placeholder='File')
            p
            input(type='text',name='end_date',placeholder='End Date')
            p
            input(type='submit',name='create_campaign',placeholder='Create a campaign')
            p
