extends layout

block content
  .container
    h3 Create a Campaign
    form.form-horizontal(action='/campaign/add',method='post',enctype='multipart/form-data')
      div.control-group
        label.control-label Campaign name
        div.controls
          input(type='text',name='name', id='name',placeholder='Campaign Name')
      div.control-group
        label.control-label Campaign description
        div.controls
          textarea(type='text',name='description',placeholder='Enter your photo requirements. Be as specific as possible.')
      div.control-group
        label.control-label Upload sample photos
        div.controls
          input(type='file',name='files[]',placeholder='File')
      div.control-group
        label.control-label Deadline
        div.controls
          .input-prepend.input-datepicker
            button.btn
              span.fui-calendar
            input.span2.hasDatepicker(type='text',name='endDate',placeholder=moment().add('days',7).calendar() )
      div.control-group
        label.control-label Budget
        div.controls
          input(type='text',name='budget',placeholder='$0.00')
      div.control-group
        div.controls
          button.btn.btn-success(type='submit')
            | Create a campaign
