extends layout

block content
  .container
    h3 Current Campaigns
    table.table.tabled-bordered
      thread
        tr
          th Sample Image
          th Campaign description
          th Entries
          th Ending
          th Budget
          th Client
          th
      tbody.row
        - each campaign in campaigns
          tr
            td
              if campaign.images.length > 0
                img(src=campaign.images[0], width='150', height='150')
            td
              = campaign.name
              br
              small
                = campaign.description
            td
              if campaign.bid
                = campaign.bid
              else
              |  0
            td
              if campaign.endDate
                = moment(campaign.endDate).startOf('day').fromNow(true)
              else
                span.label.label-important
                  |  ASAP
            td
              if campaign.budget
                = campaign.budget
                |  $
              else
                | N/A

            td
              = campaign.owner.username
            td
              a.btn.btn-block.btn-success(href='/bid') Bid

