extends layout

block content
  .span6.offset4
    form(action='/users/login',method='post')
      if flash.error && flash.error.length > 0
        .alert.alert-error
          = flash.error[0]
      fieldset
        legend Login
        input(type='text',name='username',placeholder='Username')
        input(type='password',name='password',placeholder='Password')
        button.btn.btn-primary(type='submit') Login
