body {
  padding-top: 96px;

  & > .container {
    .campaignname {
      size: 600pt;
    }
  }

  .navbar {
    .navbar-inner {
      background: #faf9f7;
      
      .container {
        .nav-collapse {
         .nav {
           .active {
             background-color: rgb(216, 48, 54);
           }
         } 
        }
        
      }
    }
    .nav {
      li {
        line-height: 20px;
      }
    }
  }


}
