body {
  padding-top: 126px;

  .navbar {
    .navbar-inner {
      background: #faf9f7;
    }

    .nav {

      li {
        height: 50px;
        line-height: 50px;

        margin-top: 28px;
        padding: 0 16px;

        border-radius: 4px;

        a {
          padding: 0;
          color: #34495e;

          &:hover {
            color: #c0392b;
          }
        }
      }

      li.active {
        background-color: #D83036;

        a {
          color: white;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  .container {
    .table {
      margin-top: 35px;
      margin-bottom: 70px;
    }
    .page-header {
      border-bottom: 1px solid #eeeeee;
    }
    .form-horizontal {

      .control-group {
        .controls {
          textarea {
            margin: 0px; width: 463px; height: 234px;
          }
        }
      }
    }
    .row {
      #bidsphoto {
        margin-bottom: 120px;
      }
    }
  }



}
